{% extends "layouts/base.html" %}
{% block content %}

  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-body d-flex align-items-center">
                    <h4 class="card-title flex-grow-1">Liste des abonnements</h4>
                    <a href="{{ url_for('AddAbonnement') }}" class="btn btn-primary ml-auto">Nouveau</a>
                </div>
                <div class="table-responsive mb-5">
                  <div class="card-body d-flex">
                    <li class="nav-item nav-search d-none d-md-block mr-0">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search..." aria-label="search" aria-describedby="search">
                          <div class="input-group-prepend">
                            <span class="input-group-text mr-4" id="search">
                              <i class="typcn typcn-zoom"></i>
                            </span>
                            <a href="{{ url_for('AddArticle') }}" class="btn btn-primary">Rechercher</a>
                          </div>
                        </div>
                      </li>
                  </div>
                  <table class="table table-hover table-striped text-center " style="font-size: x-small;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Client</th>
                            <th>Montant</th>
                            <th>Type d'abonnement</th>
                            <th>Coiffure</th>
                            <th>Nbre Coiffure</th>
                            <th>Taux de réduction (%)</th>
                            <th>Debut</th>
                            <th>Fin</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for abonnement in abonnements %}
                        <tr>
                            <td>{{ abonnement.id }}</td>
                            <td>{{ abonnement.client.nom }} {{ abonnement.client.prenom }}</td>
                            <td>{{ abonnement.montant }}</td>
                            <td>{{ abonnement.type_abonnement.nomTypeAbonnement }}</td>
                            <td>{{ abonnement.type_abonnement.coiffure.nom }}</td>
                            <td>{{ abonnement.type_abonnement.nombre_coiffures_incluses }}</td>
                            <td>{{ abonnement.type_abonnement.taux_reduction }}</td>
                            <td>{{ abonnement.date_debut }}</td>
                            <td>{{ abonnement.date_fin }}</td>
                            <td>
                              <div class="d-flex align-items-center mr-3">
                                <a href="{{ url_for('DetailAbonnement', id=abonnement.id) }}" class="btn btn-success btn-sm btn-icon-text">
                                  <i class="typcn typcn-document-text btn-icon-append"></i>
                                  Details
                                </a>
                                <form action="{{ url_for('DeleteAbonnement', abonnement_id=abonnement.id) }}" method="post" class="delete-form">
                                  <button type="submit" class="btn btn-danger btn-sm btn-icon-text">
                                      Delete
                                      <i class="typcn typcn-delete-outline btn-icon-append"></i>
                                  </button>
                                </form>
                              </div>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
                </div>
                <nav aria-label="Page navigation example mt-4">
                  <ul class="pagination">
                    {% if abonnements.has_prev %}
                      <li class="page-item"><a class="page-link" href="{{ url_for('ListAbonnement', page=abonnements.prev_num) }}">Previous</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Previous</span></li>
                    {% endif %}
                
                    {% for page_num in abonnements.iter_pages() %}
                      {% if page_num %}
                        {% if abonnements.page == page_num %}
                          <li class="page-item active" aria-current="page"><span class="page-link">{{ page_num }}</span></li>
                        {% else %}
                          <li class="page-item"><a class="page-link" href="{{ url_for('ListAbonnement', page=page_num) }}">{{ page_num }}</a></li>
                        {% endif %}
                      {% else %}
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                      {% endif %}
                    {% endfor %}
                
                    {% if abonnements.has_next %}
                      <li class="page-item"><a class="page-link" href="{{ url_for('ListAbonnement', page=abonnements.next_num) }}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                  </ul>
              </nav> 
            </div>
        </div>
    </div>  
  </div>
{% endblock %}

    
    