{% extends "layouts/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ajouter une Facture</h4>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.produit.label(class="form-control-label") }}
                        {% if form.produit.errors %}
                            <ul class="errors">
                                {% for error in form.produit.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.produit(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.quantiteProd.label(class="form-control-label") }}
                        {% if form.quantiteProd.errors %}
                            <ul class="errors">
                                {% for error in form.quantiteProd.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.quantiteProd(class="form-control") }}
                    </div>
                
                    <div class="form-group">
                        {{ form.coiffure.label(class="form-control-label") }}
                        {% if form.coiffure.errors %}
                            <ul class="errors">
                                {% for error in form.coiffure.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.coiffure(class="form-control") }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.quantiteCoif.label(class="form-control-label") }}
                        {% if form.quantiteCoif.errors %}
                            <ul class="errors">
                                {% for error in form.quantiteCoif.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.quantiteCoif(class="form-control") }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
   
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
      $(document).ready(function() {
        $('.js-example-basic-single').select2({
          width: 'resolve'
        });
      });
    </script>
  
{% endblock %}