{% extends "layouts/base.html" %}
<!-- Lister Produits  -->
{% block content %}
<div class="row">
    <div class="col-md-12">
      <div class="card">
            <div class="card-body">
              <h4 class="card-title ">Modifier un article</h4>
              <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.nom.label(class="form-control-label") }}
                    {{ form.nom(class="form-control") }}
                    {% for error in form.nom.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.prix.label(class="form-control-label") }}
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text">XOF</span>
                      </div>
                      {{ form.prix(class="form-control") }}
                    </div>
                    {% for error in form.prix.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.qte_stock.label(class="form-control-label") }}
                    {{ form.qte_stock(class="form-control",readonly=True) }}
                    {% for error in form.qte_stock.errors %}
                    <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.categorie.label(class="form-control-label") }}
                    {{ form.categorie(class="form-control") }}
                    {% for error in form.categorie.errors %}
                    <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.photo.label(class="form-control-label") }}
                    {{ form.photo(class="form-control",disabled=True) }}
                    {% for error in form.photo.errors %}
                    <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {{ form.description(class="form-control") }}
                    {% for error in form.description.errors %}
                    <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
                <button href="{{ url_for('ListerArticle') }}"  class="btn btn-danger">Annuler</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>   
</div>



{% endblock %}
